// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Droid+Sans');
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Droid Sans', sans-serif;
}

.m-t {
  margin-top: 15px;
}

.m-t-lg {
  margin-top: 30px;
}

.m-b {
  margin-bottom: 15px;
}

.m-b-lg {
  margin-bottom: 30px;
}

.m-l {
  margin-left: 15px;
}

.m-l-sm {
  margin-left: 7px;
}

.m-r {
  margin-right: 15px;
}

.p {
  padding: 15px;
}

.p-md {
  padding: 10px;
}

.p-lg {
  padding: 30px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}

.navbar-inverse {
  background-color: #231f19;
}

.navbar.primary-menu.navbar-inverse {
  min-height: 40px;
  li {
    &:hover {
      background-color: #353535;
    }
    padding: 5px 15px;
    background-image: url("/img/menu-principal-separador.png");
    background-repeat: no-repeat;

    a {
      text-transform: uppercase;
      padding: 5px 20px;
      font-size: 15px;
      &.camiones {
        color: #00bc6f;
      }
      &.buses {
        color: #ffb600;
      }
      &.utilitarios {
        color: #0093c9;
      }
    }
  }
}

nav.subheader {
  &.camiones {background-color: #43bb73;}
  &.buses {background-color: #ffb600;}
  &.utilitarios {background-color: #0093c9;}
  &.default {background-color: #d93649;}
  height: 45px;
  padding: 0 20px;
}

nav.subheader h2 {
  display: block;
  float: left;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 0;
  line-height: 45px;
}

nav.subheader span {
  margin-left: 10px;
  margin-top: 4px;
  display: inline-block;
}

nav.subheader span > img {
  height: 35px;
}

footer {
  background-color: #201D18;
  color: #aaa;
  font-size: 13px;
  min-height: 50px;
  line-height: 50px;
}

.login-box {
  padding: 40px;
  margin-top: 30px;
  color: #2d2c2c;

  h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    margin-top: 0;
  }

  .right-side {
    padding: 30px;
  }

  .left-side {
    padding: 30px;
    background-color: white;
  }

  input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .groupped {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
  }

  .groupped .form-group {
    width: 49%;
    display: inline-block;
    margin-bottom: 0;
  }

  .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .form-horizontal .form-group .control-label {
    padding: 0;
    width: 100%;
    text-align: left;
    color: #2d2c2c;
    font-weight: normal;
    margin-bottom: 5px;
  }

  .form-horizontal .form-group input[type="email"],
  .form-horizontal .form-group input[type="password"],
  .form-horizontal .form-group input[type="text"] {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 10px 8px;
    height: auto;
  }

  .form-horizontal button[type="submit"] {
    background-color: #d93649;
    border-color: #d93649;
    text-transform: uppercase;
    font-weight: 300;
    padding: 10px 25px;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .social {
    a {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}

.redes-sociales {
  display: inline-block;
  line-height: 1em;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 50px;
  float: right;
}

.redes-sociales [class*="icon-"] {
  background: url("/img/sprite-nw-icons.png");
  width: 40px;
  height: 33px;
  display: inline-block;
  margin-right: 5px;
}

.redes-sociales .icon-fb {
  background-position: 0 0;
}

.redes-sociales .icon-inst {
  background-position: -49px 0;
}

.redes-sociales .icon-tw {
  background-position: -98px 0;
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  border-radius: 0px;
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999998;
    line-height: 34px;
    padding-left: 10px;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #e5e6e7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fa3348;
    color: white;
}