@charset "utf-8";

@font-face {
  font-family: 'Avenir Light';
  src: url('../fonts/avenir-light-webfont.eot');
  src: url('../fonts/avenir-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-light-webfont.woff') format('woff'),
  url('../fonts/avenir-light-webfont.ttf') format('truetype'),
  url('../fonts/avenir-light-webfont.svg#avenirlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Heavy';
  src: url('../fonts/avenir-heavy-webfont.eot');
  src: url('../fonts/avenir-heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/avenir-heavy-webfont.woff') format('woff'),
  url('../fonts/avenir-heavy-webfont.ttf') format('truetype'),
  url('../fonts/avenir-heavy-webfont.svg#avenir_85_heavyregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body { height: 100%; }
body {
  font-size: 13px;
}

#wrapper {
  background-image: url('/img/watermark.png');
//  background-color: white;
  height: 100%;
}

.dropdown-alerts, .dropdown-messages {
  padding: 0px;
}

.footer {
//  background-color: rgba(255, 254, 245, 0.93);
}

.page-heading .btn {
  position: absolute;
  right: 10px;
  top: 40%;
}

// Pace progress bar
.pace .pace-progress {
  background: #0059a2;
}
.compact .pace .pace-progress {
  left: 0;
}

// Bootstrap validator
.has-feedback label~.form-control-feedback {
  top: 22px;
}
.has-success .form-control{ border-color:inherit !important;}
.has-success .form-control:focus { border-color:inherit !important;}

// Boostrap customizations
.table {position: relative;}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  vertical-align: middle;
  position: relative;
}

.form-control { font-size: 12px;}

.dropdown-menu {
  border-radius: 0;
  box-shadow: 0px 0px 8px 0px rgba(100, 100, 100, 0.3);
  .divider {
    margin: 3px 0;
  }
}

.dropdown-menu>li>a { padding: 3px 10px; }

.btn {
  border-radius: 0;
  font-weight: 300;
  font-size: 12px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-primary {
  background-color: #fb3348;
  border-color: #fb3348;
  border-bottom: 3px solid #c12434;
  color: #FFF;
  &:hover {
    background-color: #cd293a;
    border-color: #cd293a;
  }
  &.btn-outline { color: white;}

  &>a {
    color: white;
  }
}

.btn-default {
  background-color: white;
  color: black;
  &:hover {
    background-color: #EAEAEA;
    border-color: #BABABA;
    color: #000;
  }
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.actions .btn {
  border-radius: 0px;
}

.alert { border-radius: 0px; }

.breadcrumb>li a { text-decoration: underline; }

pre {
  border-radius: 0;
  border-color: #ECECEC;
}

.well {
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.i-box .ibox-content { position: relative; }

.bolder {font-weight: 600;}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-l-xs {
  padding-left: 5px;
}

.p-r-xs {
  padding-right: 5px;
}

body.skin-3 {
  background: #F5F5F5;
}
.skin-3 {
  #page-wrapper {
    background-color: transparent;
    padding-bottom: 40px;
  }
  .navbar-minimalize {
    background: 0;
    border-color: white;
    color: white;
  }
  .nav-header {
    padding: 10px;
    background-color: #464646;
  }
  &.mini-navbar {
    .nav-header {
      background-color: #464646;
      padding: 0;
      border-bottom: 1px solid #e7eaec;
    }
    .logo-element {
      padding: 4px;
    }
  }
  .nav > li.active { background: inherit; }
  .nav > li.active > a { color: inherit; font-family: "Avenir Heavy";}

  .nav.navbar-top-links > li > a {
    font-weight: 300;
    color: white;
    &:focus, &:hover {
      background-color: #50564C;
    }
    &.count-info {
      padding: 9px 5px;
      line-height: 40px;
      > i {
        margin: 0;
        font-size: 22px;
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }
  .navbar-static-top {
    background-color: #464646;
    border-bottom: 0px solid #CCC;
  }
  .navbar-static-side {
    height: 100%;
    background-color: #FFF;
    .nav {
      background-color: white;//rgba(255, 255, 255, 0.85);
      & > li {
        &.active {
          background-color: white;
          border-left: 4px solid #50d2c2;
          >a, >a:hover {
            color: black;
          }
        }
        > a {
          font-weight: 300;
          color: black;
          &:focus, &:hover {
            background: #EEE;
            color: black;
          }
        }
      }
      &.nav-second-level {
        box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1);
        border-left: 2px solid;
        li:last-child { margin-bottom: 0;}
        >li>a {
          color: black;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding: 5px 10px;
        }
      }
    }
  }
}

.navbar-top-links {
  .dropdown-menu {
    li {
      display: inherit;
      a {
        padding: 8px 10px;
        min-height: 0;
        font-size: 1em;
        margin: 3px 0;
        font-weight: 300;
      }
      &:last-child {
        margin-right: 0 !important;
      }
    }
    .divider {
      margin: 3px 0;
    }
  }
}

.mini-navbar .navbar-static-side {
  .nav.nav-second-level {
    width: 200px;
    > li > a {
      padding-left: 20px;
    }
  }
  #side-menu > li > a {
    padding: 10px 8px;
    text-align :center;
    > i {
      margin-right: 0;
    }
    > .nav-label {
      display: block;
      font-size: 10px;
      line-height: 20px;
    }
  }
}

.navbar-static-side {
  .nav.nav-second-level {
    box-shadow: none !important;
    > li > a {
      padding-left: 40px;
    }
  }
}

.ibox-title {
  height: auto;
}

@media (min-width: 1024px) {
  .navbar-static-side {
    width: 180px;
  }
  #page-wrapper {
    margin-left: 180px;
  }
}

.dropdown-messages {
  padding: 10px;
  li {
    padding-bottom: 15px;
  }
  .media-body {
    width: 100%;
  }
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: 1px solid #e5e6e7;
  border-radius: 4px;
  border-radius: 0px;
  height: 34px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999998;
    line-height: 34px;
    padding-left: 10px;
}

.select2-container--open .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #e5e6e7;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #fa3348;
    color: white;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid #e5e6e7 1px;
    outline: 0;
    border-radius: 0px;
    height: 34px;
}

.select2-container--default .select2-selection--multiple {
    background-color: white;
    border: 1px solid #e5e6e7;
    border-radius: 0px;
    cursor: text;
    height: 34px;
}

.dropzone {
    min-height: 150px;
    border: 1px solid rgb(229, 230, 231);
    background: white;
    padding: 20px 20px;
}

#sectionCabina,#sectionCarroceriaAsientos,#sectionCarroceriaBanio,#sectionCarroceriaMiniBar,#sectionCarroceriaRampa,#sectionCarroceriaBodega,#sectionCarroceriaObservaciones,#sectionCarroceriaDimensiones,#sectionCarroceriaAccesorios,#sectionCarroceriaTipo,#sectionCarroceriaIfCarroceria,
#sectionCarroceriaTecho,#sectionUnidadCarga, #sectionUnidadTanque {
  display: none;
}


